data/
raw_data/

*.csv
*.txt
*.npy
*.npz
*.tar*
*.zip
*.pth
*.pt
*.zip
gpt_prompt.md

__pycache__/       

outputs/
multirun/
.vscode/
full-shot/
few-shot/
zero-shot/
full-shot-baseline/
few-shot-baseline/
lejepa/
*.out
hpc_logs/
stgcn-jepa-repeat/
analysis_results/
debug_smoke/
jepa-repeat/
test-smoke/
debug-mae/
jepa-debug/
debug/
data-result/
test-smoke/
time-series/
mae-time-series/
data_result/
data-result/